*{
    box-sizing: border-box;
    background-color: gray;
    font-family:'Times New Roman', Times, serif;
    color: white;
}
.header{
    text-align: center;
}
.secao-design{
    display: grid;
    grid-template-columns: auto auto;
}
.seca0-desing_img {
    text-align: center;
}
a{
    text-decoration: none;
}
img{
    width: 30rem;
    height: 400px;
    margin-left: 300px;
    margin-top: 50px;
    transition: all .5s ease;
}
img:hover{
    transform:scale(1.1);
    margin-bottom: 20px;
}
button{
    width: 300px;
    height: 40px;
    background-color: #30bd05;
    border: none;
    color: white;
    display: block;
    transition: all .5s ease;
}
button:hover{
    transform: scale(1.3);
}
.btn_fundo{
    margin-top: 10px;
    margin-left: 380px;
}
.btn_trans{
    margin-top:10px;
    margin-left: 380px;
    background-color: gray;
    border: 1px solid #30bd05;
    
}
.coluna2{
    width: 400px;
    height: 300px;
    display: inline-block;
    text-align: justify;
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 100px;
}
.coluna2 >h3{
    text-align: center;
}